<ul class="comments">
    {% for comment in comments %}
        <div class="widget-answers">
            <article class="clearfix widget-answers__item">
                <div class="comment-thumbnail">
                    <div class="widget-vote">
                        <button class="like" title="" data-placement="top" data-toggle="tooltip" data-do="like"
                                data-type="answer" data-id="1020000003934780" type="button"
                                data-original-title="答案对人有帮助，有参考价值">
                                <span class="sr-only">
                                    答案对人有帮助，有参考价值
                                </span>
                        </button>
                                <span class="count">
                                1
                                </span>
                        <button class="hate" title="" data-placement="bottom" data-toggle="tooltip"
                                data-do="hate" data-type="answer" data-id="1020000003934780" type="button"
                                data-original-title="答案没帮助，是错误的答案，答非所问">
                                <span class="sr-only">
                                答案没帮助，是错误的答案，答非所问
                                </span>
                        </button>
                    </div>
                </div>
                <div class="comment-content">
                    <div class="comment-date">{{ moment(comment.timestamp).fromNow() }}</div>
                    <div class="comment-author">
                        <a href="{{ url_for('.user', username=comment.author.username) }}">
                            {{ comment.author.name }}
                        </a>
                    </div>
                    <div class="comment-body">
                        {% if comment.disabled %}
                            <p></p><i>This comment has been disabled by a moderator.</i></p>
                        {% endif %}
                        {% if moderate or not comment.disabled %}
                            {% if comment.body_html %}
                                {{ comment.body_html | safe }}
                            {% else %}
                                {{ comment.body }}
                            {% endif %}
                        {% endif %}
                    </div>
                    {% if moderate %}
                        <br>
                        {% if comment.disabled %}
                            <a class="btn btn-default btn-xs"
                               href="{{ url_for('.moderate_enable', id=comment.id, page=page) }}">Enable</a>
                        {% else %}
                            <a class="btn btn-danger btn-xs"
                               href="{{ url_for('.moderate_disable', id=comment.id, page=page) }}">Disable</a>
                        {% endif %}
                    {% endif %}
                </div>
            </article>
        </div>
    {% endfor %}
</ul>

