<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/editor.css') }}">
<div class="nav navbar-default">
    <div id="alerts"></div>
    <div class="nav navbar-collapse btn-toolbar" data-role="editor-toolbar" data-target="#editor">
        <div class="btn-group-editor">
            <a class="btn-editor dropdown-toggle" data-toggle="dropdown" title="Font"><i
                    class="glyphicon glyphicon-font"></i><b
                    class="caret"></b></a>
            <ul class="dropdown-menu">
            </ul>
        </div>
        <div class="btn-group-editor">
            <a class="btn-editor dropdown-toggle" data-toggle="dropdown" title="Font Size"><i
                    class="glyphicon glyphicon-text-size"></i>&nbsp;<b
                    class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
            </ul>
        </div>
        <div class="btn-group-editor">
            <a class="btn-editor" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i
                    class="glyphicon glyphicon-bold"></i></a>
            <a class="btn-editor" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i
                    class="glyphicon glyphicon-italic"></i></a>
        </div>
        <div class="btn-group-editor">
            <a class="btn-editor" data-edit="insertunorderedlist" title="Bullet list"><i
                    class="glyphicon glyphicon-list"></i></a>
            <a class="btn-editor" data-edit="insertorderedlist" title="Number list"><i
                    class="glyphicon glyphicon-list-alt"></i></a>
            <a class="btn-editor" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i
                    class="glyphicon glyphicon-indent-left"></i></a>
            <a class="btn-editor" data-edit="indent" title="Indent (Tab)"><i
                    class="glyphicon glyphicon-indent-right"></i></a>
        </div>
        <div class="btn-group-editor">
            <a class="btn-editor" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i
                    class="glyphicon glyphicon-align-left"></i></a>
            <a class="btn-editor" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i
                    class="glyphicon glyphicon-align-center"></i></a>
            <a class="btn-editor" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i
                    class="glyphicon glyphicon-align-right"></i></a>
            <a class="btn-editor" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i
                    class="glyphicon glyphicon-align-justify"></i></a>
        </div>
        <div class="btn-group-editor">
            <a class="btn-editor" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="glyphicon glyphicon-remove"></i></a>
            <a class="btn-editor" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="glyphicon glyphicon-repeat"></i></a>
        </div>
    </div>
    <div id="editor">
        输入内容&hellip;
    </div>
</div>
